<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#tablero {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  gap: 2px;
  margin: 20px auto;
  width: max-content;
}

input {
  width: 38px;
  height: 38px;
  font-size: 18px;
  text-align: center;
}
=======
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#tablero {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  gap: 2px;
  margin: 20px auto;
  width: max-content;
}

input {
  width: 38px;
  height: 38px;
  font-size: 18px;
  text-align: center;
}
>>>>>>> c928f990f4f55d7f2cddd4878d4bb20377e2ee88
